body {
  color: #E19E0B;
  /*background-color: #B7ADFF;*/
  background-image: url("./img/Bamboo-Forest-Kyoto-Wallpaper.jpg");
  font-weight: 900;
  font-family: 'Rochester', cursive;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h1 {
  font-size: 54px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 0px;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;

}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
h2 {
  text-align: center;
  font-size: 24px;
  margin: 5px
}

h3{
float: right}

.clearfix{
  overflow: auto;
}
.row {

  list-style-type: none;

}

.space {
  float:left;
  width: 25px;
  height: 25px;
  background-color: #DAE80C;
  margin: 0px;
}


div.board {
  border: 5px solid #06007F;
  position: relative;
  width: 600px;
  height: 600px;
  margin-left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  float: left
}

.snake{
  background-color: #35DB00;
}
.gameover {
  position: absolute;
  display: block;
  text-align: center;
  margin-left: 100px;
  margin-top: 250px;
  font-size: 40px;
  margin-left: 50%;
  transform: translateX(-50%);
}
.sound{
  text-align: center;
  content: url('./img/unmute.svg');
  margin-left:50%;
  transform: translateX(-50%);
  float: none
}


.empty{
  background-color: #DAE80C;
}

.apple{
  content: url('./img/AMIfv96lIOQMXeZDdX5_8TILLufHHZDLm8ArYYo_3DqX16I0QdM-OPtRexYXRIgjPvvyhGNLBs8aMxWInCfzMhf0dvgHvGWG7q0yV-n-T-yrfZ8xHIegltTmyQGAUeEX0hQdjokr7URd_vFitpEMwF5H-umVl0TzZBuK0bL9SylwDipQo-ZZ5lE.svg');s
}

.colored{
  fill: red
}
