h1 {
  text-align: center;
  font-family: sans-serif;
}
h2 {
  text-align: center;
  font-family: sans-serif;
  font-size: 24px;
}

.clearfix{
  overflow: auto;
}
.row {

  list-style-type: none;
  /*display: table;*/
  /*background-color: orange;*/
  /*width: 50px;

  float: left;
  background-color: green;*/
}

.space {
  float:left;
  width: 35px;
  height: 35px;
  background-color: lavender;
  margin: 1px;
}


pre {
  position: relative;
  width: 650px;
  height: 650px;
  margin: auto;
  /*border: solid 10px black;*/
}

.snake{
  background-color: green;
}
.empty{
  background-color: lavender;
}

.apple{
  background-color: red;
}
